.line {
  margin: 0;
  padding: 0;
  height: 10px;
}

.n {
  width: 10px;
  height: 10px;
  display: inline-block;
  font-size: 2px;
  line-height: 10px;
  text-align: center;
}

.p {
  background-color: black;
  color: white;
}

.np {
  background-color: white;
  color: red;
}
